.image-2 { 
    width: 30%;;
    height: auto;
    margin-left: 43%;
    background-color: dodgerblue;
    max-width: 300px;
    object-fit: contain;
    margin-top: 15px;
    
}
.push {
    width: 40%;
    margin-left: 37%;
    border: 1px solid;
    border-radius: 15px;
    margin-bottom: 10px;
}
.two {
margin-left: 25%;
}
.bordure {
    border: 1px solid;
}
