
.btn-cadre {
   
    width: 170px;
    margin-top: 25px;
       border: 1px solid;
    color: blue;
    margin-right: 10px;
    
     
}
.btn-cadre:hover {
   background-color: dodgerblue;
}
label{
    color: #325277;
}
.img-employ {
    background-color: dodgerblue;
    width: 400px;
}

.image-employer {
            width:30%;
        height: 600px;  
       margin-left: 35%;
        object-fit: contain;    
               }
               
.image-profil {
width: 110px;
height: 110px;
border-radius: 50%;
margin-left: 45px;
margin-top: 25px;
border: 1px solid;
}
.left {
   display: flex;
  justify-content:center;
  width: 46%;
    margin-top: 5% !important;
    margin-left: 270px;

 
}
.right {
    display: flex;
    justify-content: center;
    width: 46%;
    margin-top: 60px;
    margin-left: 270px;
       
}
.last {
display: flex;
justify-content: center;

width: 46%;
margin-top: 60px;
margin-left: 275px;

}
.form-group {
    margin-right: 20px;
}
.employer {
        border: none;
    padding-left: 0px;
 margin-top: 30px;
  width: 1300px;
height: 600px;

}



.cadre {
    width: 170px;
    border: 2px solid;
    height: 35px;
}
