
.btn-cadre {
    margin-top: 35px;   
    width: 40%;
    margin-left: 30%;
}
label{
    color: #325277;
}

.image-2 img {
    width: 80% ;
    margin-left: 15px;
}
.image-2 {
    overflow: hidden;
    border: 1px solid ;
    border-radius: 50%;
    width: 150px;
    background-color: dodgerblue;
    
}
.image-2 :hover {
transform: scale(1.2);
}
.left {
    margin-left: 25%;
}
.contain {
    height: 450px;
}
